<!-- main/templates/main/avatar_upload.html -->
{% load static %}
<form method="post" enctype="multipart/form-data" role="form" aria-label="Форма загрузки аватара">
    {% csrf_token %}
    <img src="{{ profile.avatar_url }}" width="100" alt="Аватар пользователя" class="rounded-circle mb-2">
    <div class="mb-3">
      <label for="id_avatar" class="form-label visually-hidden">Выберите файл аватара</label>
      <input id="id_avatar" type="file" name="avatar" accept="image/*" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить аватар</button>
</form>